vfb_connect
git+git://github.com/schlegelp/navis@master
git+git://github.com/schlegelp/pymaid@master
ipywidgets
jsonpath_rw
seaborn
neuprint-python
flybrains
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability